doctype html
html
    head
        title Food Blog
    body
        include ./header.pug
        include ./navbar.pug

        main
            include ./article.pug
            include ./sidebar.pug

        include ./comments.pug
        include ./footer.pug
